.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: url("../../assets/modal_close_button.svg") 50% no-repeat;
  border: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  padding: 0;
  margin-bottom: 24px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-top: 8px;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__label_type_radio {
  margin: 0 0 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__label_type_radio:last-child {
  margin: 0;
}

.modal__radio-input {
  accent-color: #000;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0);
  margin-top: 32px;
}

.modal__submit:hover {
  opacity: 60%;
}
