.header {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-loco {
  margin: 0;
}

.header__menu_button {
  display: none;
}

.header__nav_web {
  margin: 0 0 0 auto;
  display: flex;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
  border: none;
}

.header__add-clothes-button:hover {
  cursor: pointer;
}

.header__user-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .header__container {
    padding: 0;
    display: grid;
    grid-template-areas: "logo menuIcon" "time time";
  }

  .header__logo {
    margin: 0 auto 34px 0;
    grid-area: logo;
  }

  .header__date-loco {
    margin-bottom: 16px;
    grid-area: time;
  }

  .header__nav_mobile {
  }

  .header__add-clothes-button {
    display: none;
  }

  .header__user-container {
    display: none;
  }

  .header__username {
  }

  .header__menu_button {
    background: center url("../../assets/header_mobile_menu_button.svg")
      no-repeat;
    grid-area: menuIcon;
    height: 44px;
    width: 44px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 8px 0px #0000001a;
  }
}
